In [22]:
import pandas as pd

df_train_v1 = pd.read_csv("data/train_final_augX3.csv")
df_train_v2 = pd.read_csv("data/train_final_augX3_v2.csv")
df_train_v3 = pd.read_csv("data/train_final_augX3_v3.csv")
df_val_v1 = pd.read_csv("data/val_final.csv")
df_val_v2 = pd.read_csv("data/val_final_v2.csv")
df_val_v3 = pd.read_csv("data/val_final_v3.csv")

/tmp/ipykernel_1479001/2674698025.py:4: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_train_v2 = pd.read_csv("data/train_final_augX3_v2.csv")
/tmp/ipykernel_1479001/2674698025.py:5: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_train_v3 = pd.read_csv("data/train_final_augX3_v3.csv")

In [ ]:
print(len(df_train_v1))
print(len(df_train_v2))
print(len(df_train_v3))

print(len(df_val_v1))
print(len(df_val_v2))
print(len(df_val_v3))

536966
530143
530143
6823
6823
6823

In [24]:
print(df_train_v1["ID"].isin(df_val_v1["ID"]).sum())
print(df_train_v1["ID"].isin(df_val_v2["ID"]).sum())
print(df_train_v1["ID"].isin(df_val_v3["ID"]).sum())

print(df_train_v2["ID"].isin(df_val_v1["ID"]).sum())
print(df_train_v2["ID"].isin(df_val_v2["ID"]).sum())
print(df_train_v2["ID"].isin(df_val_v3["ID"]).sum())

print(df_train_v3["ID"].isin(df_val_v1["ID"]).sum())
print(df_train_v3["ID"].isin(df_val_v2["ID"]).sum())
print(df_train_v3["ID"].isin(df_val_v3["ID"]).sum())

0
0
0
0
0
5855
0
5855
0

In [9]:
total_train = pd.concat([df_train_v1, df_val_v1], ignore_index=True)
total_train

            ID                         review  label      type
0       120799                    상류층여대생얘기ㅋㅋㅋ      1  original
1        42422                 it s good man.      2  original
2       206750                        뭐냐진짜...      0  original
3        73170                  진짜재미없음...시간낭비      0  original
4        72364       미국 최고의 드라마. 현재 전 미국에서 대세      3  original
...        ...                            ...    ...       ...
543784   21604                윤계상이 왜 이런 영화에..      0  original
543785  141185          그냥 이거보고 감동해 라고 말하는 영화      2  original
543786  198563  가족들과 함께 봤는데 참 괜찮은 영화였던것 같네요ㅎㅎ      2  original
543787  293967            진짜 아니다..머꼬 정말 유치뽕이다      0  original
543788   41866   스토리가 지나치게 지루하고 너무 액션이 말이 안된다      0  original

[543789 rows x 4 columns]

In [11]:
df_train_v1

,ID,review,label,type
0,120799,상류층여대생얘기ㅋㅋㅋ,1,original
1,42422,it s good man.,2,original
2,206750,뭐냐진짜...,0,original
3,73170,진짜재미없음...시간낭비,0,original
4,72364,미국 최고의 드라마. 현재 전 미국에서 대세,3,original
...,...,...,...,...
536961,339574_part1,"이 영화를 dvd로 봤는데, 미국식 유머를 모르면 진짜 재미가 하나도 없어요. 영화...",0,augment
536962,339574_part2,이런 영화는 정말 시간 낭비인 것 같아요. 미국식 유머를 좋아하시는 분들이나 마피아...,0,augment
536963,339574_part3,진짜 영화관에서 봤으면 돈 아까웠을 것 같아요. 헐. 이런 영화가 평점이 높은 게 ...,0,augment
536964,339576_part1,"2009년에 이 영화를 처음 봤을 때, 나는 17살의 어린 나이였는데, 그때도 너무...",2,augment
536965,339576_part2,"특히 주인공이 겪는 공포스러운 상황들이 너무 현실감 있게 표현되어 있어서, 보는 내...",2,augment

In [13]:
df_val_v1

          ID                                    review  label      type
0      24475                                       좋았다      2  original
1      24420                             그냥저냥 드라마같은 영화      1  original
2     206143                                 ㅋㅋ올만에 웃었다      2  original
3     167670              너절하다는게 바로 이따위 영화를 두고 하는 말이다.      0  original
4     272703  네이버 평점에 속았네 진짜 뒷목잡는 연기력 그리고 연출력도 너무 지루하다      0  original
...      ...                                       ...    ...       ...
6818   21604                           윤계상이 왜 이런 영화에..      0  original
6819  141185                     그냥 이거보고 감동해 라고 말하는 영화      2  original
6820  198563             가족들과 함께 봤는데 참 괜찮은 영화였던것 같네요ㅎㅎ      2  original
6821  293967                       진짜 아니다..머꼬 정말 유치뽕이다      0  original
6822   41866              스토리가 지나치게 지루하고 너무 액션이 말이 안된다      0  original

[6823 rows x 4 columns]

In [18]:
df_train_v1["ID"].isin(df_val_v1["ID"]).sum()

0

In [ ]:
df_train = df_train_v1[~df_train_v1["ID"].isin(df_val_v2["ID"])]
df_train

,ID,review,label,type
0,120799,상류층여대생얘기ㅋㅋㅋ,1,original
1,42422,it s good man.,2,original
2,206750,뭐냐진짜...,0,original
3,73170,진짜재미없음...시간낭비,0,original
4,72364,미국 최고의 드라마. 현재 전 미국에서 대세,3,original
...,...,...,...,...
536961,339574_part1,"이 영화를 dvd로 봤는데, 미국식 유머를 모르면 진짜 재미가 하나도 없어요. 영화...",0,augment
536962,339574_part2,이런 영화는 정말 시간 낭비인 것 같아요. 미국식 유머를 좋아하시는 분들이나 마피아...,0,augment
536963,339574_part3,진짜 영화관에서 봤으면 돈 아까웠을 것 같아요. 헐. 이런 영화가 평점이 높은 게 ...,0,augment
536964,339576_part1,"2009년에 이 영화를 처음 봤을 때, 나는 17살의 어린 나이였는데, 그때도 너무...",2,augment
536965,339576_part2,"특히 주인공이 겪는 공포스러운 상황들이 너무 현실감 있게 표현되어 있어서, 보는 내...",2,augment

In [6]:
new_val_1 = selected_val.sample(n=len(df_val), random_state=42)
new_val_1

,ID,review,label,type
2788,167073,3d로 않나왔고 또 설명하는 말이 너무 많이 나와 서 좀재미가 없었습니다.그리고 울...,0,original
5270,270980,표절이지만 그래도 추억이다? 그래서 더 화가 나는지도 모르지.,0,original
6061,315504,엉망진창 뒤죽박죽,0,original
1701,38678,다 재밌는데 맨 뒤에가 좀 별로네요,1,original
13097,209932,개판 5분전 더 쓸말이 없는듯,0,original
...,...,...,...,...
12658,274453,"적은돈으로 나름 최선을 다해 만든 듯, 한하유가 마음에 들어서 10점",2,original
6123,89455,20년 전이나 먹힐 소재,0,original
11764,95696,우리 엄마는 맨날 이것만 봄. ㅋㅋ 재밌음.,2,original
786,321540,"물 흐르 듯, 바람에 나뭇가지 흔들리 듯, 자연스런 영화. 서로 사랑하는 게 뻔히 ...",2,original
2857,231628,야휴~~ 독특해라,1,original

In [7]:
new_val_2 = selected_val.drop(index=new_val_1.index)
new_val_2

,ID,review,label,type
1,20167,꽤 괜찮은 구성과 연출. 배우들의 연기지도가 참 잘된것같고 이야기에 몰입도도 높다....,2,original
2,186023,주인공의 감정 비약이 좀 심하다는 느낌이다. 음악이나 연기는 훌륭했다.,1,original
4,312213,민주주의가 무엇인지 생각하게해준다,2,original
5,197870,내용전개가 좋았던 영화,2,original
6,192874,내용도 별로..,0,original
...,...,...,...,...
13630,261290,이걸 본 사람은 초콜릿을 먹으며 카드게임을 했었지,2,original
13633,282015,도대체 무슨 생각으로 이런 속편을 만든걸까?,0,original
13634,104969,슬픈 현실과 sf를 곁들인 대단한 영화이 영화를 보고나면 왠지 알수없는 기분이 몰려...,2,original
13637,75664,이건 영화가 아니다. 예술이다.,3,original
13643,39023,아 레알 재미없엇음 그냥 딴거 보세요,0,original

In [8]:




df_train_1 = pd.concat([df_train, new_val_2], ignore_index=True)
df_train_2 = pd.concat([df_train, new_val_1], ignore_index=True)

In [9]:
print(len(new_val_1))
print(len(new_val_2))
print(len(df_train_1))
print(len(df_train_2))

6823
6823
530143
530143

In [5]:
df_train_1.to_csv("data/train_final_augX3_v2.csv", index=False)
df_train_2.to_csv("data/train_final_augX3_v3.csv", index=False)
new_val_1.to_csv("data/val_final_v2.csv", index=False)
new_val_2.to_csv("data/val_final_v3.csv", index=False)

In [10]:
# 유일 키가 있다면 키 기반으로 확인
# 예: 'id' 컬럼이 유일키라면
print("ID 기준 겹침 확인:")
print(f"train_1 vs val_1: {df_train_1['ID'].isin(new_val_1['ID']).sum()}")
print(f"train_2 vs val_2: {df_train_2['ID'].isin(new_val_2['ID']).sum()}")

ID 기준 겹침 확인:
train_1 vs val_1: 6058
train_2 vs val_2: 6110